.App {
  text-align: center;
  background-color: ghostwhite;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App--container {
  width: 90%;
  height: 90%;
  /* background-color: blue; */
}